header {
    background-color: rgb(40, 109, 34);
    color: aquamarine(srgb rgb(46, 194, 9) rgba(198, 240, 132, 0.719);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border: 5px solid rgba(42, 245, 1, 0.5);
    padding: 10Spx;

}

main {

    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border: 5px solid rgb(29, 214, 12);
    padding: 10px;
    display: flex;
}

footer {
    background-color: rgb(75, 206, 23);
    color: rgb(187, 255, 109);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;

}
    
.autor{
font-weight: bold;
}

img{
    height: 100%;
    width: 100%;
}

    
